@use '../base/functions' as *;

.title {
  margin-inline: auto;
  text-align: center;
  @include mobile {
    max-width: mobile-vw(200px);
  }
  @include desktop {
    max-width: desktop-vw(850px);
  }
}
