@use '../../app/base/functions' as *;

.link {
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  font-family: var(--heading-font);
  font-size: mobile-vw(15px);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--tertiary-variant);
  letter-spacing: 1.5px;
  transition: color 0.25s cubic-bezier(0.7, 0, 0.3, 1);
  &:hover {
    color: var(--primary-variant);
  }
  @include desktop {
    font-size: desktop-vw(19px);
  }
}

.active {
  color: var(--primary-variant);
}
