@use '../base/functions' as *;

.follow-cont {
  position: relative;
  .img-cont {
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  @include desktop {
    min-height: 90vh;
    will-change: transform opacity transform;
  }
}

.img-cont:nth-of-type(6) {
  @include desktop {
  }
}

.img-cont:nth-of-type(1) {
  aspect-ratio: 4/3;
  height: auto;
  grid-column: 2/5;
  rotate: -15deg;
  margin-top: desktop-vw(64px);
  @include mobile {
    display: none;
  }
}
.img-cont:nth-of-type(2) {
  aspect-ratio: 1;
  height: auto;
  grid-column: 5/8;
  rotate: 15deg;
  @include mobile {
    aspect-ratio: 4/3;
    grid-column: 2/6;
    margin-bottom: mobile-vw(64px);
  }
}
.img-cont:nth-of-type(3) {
  aspect-ratio: 32/27;
  height: auto;
  grid-column: 8/11;
  rotate: -7deg;
  margin-top: desktop-vw(80px);
  @include mobile {
    display: none;
  }
}
.img-cont:nth-of-type(5) {
  aspect-ratio: 1;
  height: auto;
  grid-column: 2/5;
  rotate: 7deg;
  margin-top: desktop-vw(132px);

  img {
    object-position: top center;
  }
  @include mobile {
    display: none;
  }
}
.img-cont:nth-of-type(6) {
  aspect-ratio: 4/3;
  height: auto;
  grid-column: 5/8;
  rotate: -10deg;
  margin-top: desktop-vw(150px);
  @include mobile {
    grid-column: 2/6;
  }
}
.img-cont:nth-of-type(7) {
  aspect-ratio: 1;
  height: auto;
  grid-column: 9/12;
  rotate: -15deg;
  margin-top: desktop-vw(40px);
  @include mobile {
    display: none;
  }
}

.img-cont {
  border: 2.5px solid;
}

.title-cont {
  grid-column: 1/-1;
  text-align: center;
  z-index: 1;

  @include desktop {
    will-change: transform opacity transform;
  }
}

.border-top {
  margin-bottom: mobile-vw(40px);
  @include desktop {
    margin-bottom: desktop-vw(40px);
  }
}
.border-bottom {
  margin-bottom: -5px;
  margin-top: mobile-vw(40px);
  @include desktop {
    margin-top: desktop-vw(40px);
  }
}
.border-bottom,
.border-top {
  @include mobile {
    svg {
      height: mobile-vw(30px);
    }
  }
}
