@use '../base/functions' as *;

.hero {
  @include desktop {
    padding-bottom: desktop-vw(40px);
  }
}

.inner {
  overflow: hidden;
  position: relative;
  z-index: 2;

  @include mobile {
    min-height: $mobile-height;
    height: calc(90vh - var(--nav-height));
  }
  @include desktop {
    padding-inline: desktop-vw(40px);
    min-height: 600px;
    height: calc(95vh - var(--nav-height));
    max-height: var(--desktop-height);
  }
}

// .cta,
// .inner,
// .img {
//   width: 100%;
//   @include mobile {
//     min-height: $mobile-height;
//     height: calc(90vh - var(--nav-height));
//   }
//   @include desktop {
//     min-height: 600px;
//     height: calc(95vh - var(--nav-height));
//     max-height: var(--desktop-height);
//   }
// }
.cta,
.inner,
.img {
  width: 100%;
  @include mobile {
    min-height: $mobile-height;
    height: calc(90vh - var(--nav-height));
  }
  @include desktop {
    min-height: 600px;
    height: calc(95vh - var(--nav-height));
    max-height: var(--desktop-height);
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }
}

.img {
  position: relative;
  overflow: hidden;

  background: var(--tertiary-variant);
  img {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    object-fit: cover;
    @include desktop {
      border: 2px solid var(--tertiary-variant);
      object-position: 50% 45%;
    }
    @include mobile {
      object-position: 70% 55%;
    }
  }
}

.cta {
  position: absolute;
  @include mobile {
    top: 45%;
    .inner {
      @include flexbox($direction: column, $alignContent: center);
      padding-inline: mobile-vw(16px);
    }
  }
  @include desktop {
    top: 0;
    .inner {
      @include flexbox($direction: column, $justifyContent: center);
      height: 100%;
      width: desktop-vw(900px);

      .desc {
        display: block;
        max-width: desktop-vw(550px);
        padding-left: desktop-vw(40px);
      }
    }
  }
}

.title {
  display: block;
  position: relative;

  @include desktop {
    width: 100%;
    @include flexbox;
    h1 {
      margin-top: desktop-vw(16px);
    }
  }
}

.accent-svg {
  aspect-ratio: 49.202/44.418;
  height: mobile-vw(20px);
  svg {
    height: mobile-vw(20px);
    width: auto;
  }
  @include mobile {
    display: none;
  }
  @include desktop {
    height: desktop-vw(30px);
    width: auto;

    svg {
      height: desktop-vw(32px);
      width: auto;
    }
  }
}

.underline-svg {
  aspect-ratio: 253.295/24.372;
  position: absolute;
  bottom: 0;
  right: desktop-vw(50px);
  @include mobile {
    display: none;
  }
  @include desktop {
    padding-top: desktop-vw(16px);
    height: desktop-vw(30px);
    width: auto;

    svg {
      height: desktop-vw(45px);
      width: auto;
    }
  }
}

.btn-cont {
  @include desktop {
    padding-left: desktop-vw(40px);
  }
}
