@use '../../app/base/functions' as *;

.commandments {
  position: relative;
}

.title-cont {
  @include desktop {
    max-width: desktop-vw(900px);
    margin-inline: auto;
  }
}

.card-cont {
  // .card-wrap:first-child {
  //   margin-bottom: mobile-vw(64px);
  // }
  // .card-wrap:not(:first-child) {
  //   margin-top: mobile-vw(64px);
  // }

  // @include desktop {
  //   .card-wrap:first-child {
  //     margin-bottom: desktop-vw(264px);
  //   }
  //   .card-wrap:not(:first-child) {
  //     margin-top: desktop-vw(264px);
  //   }
  // }
}

.card-wrap {
  @include mobile {
    grid-column: 1/-1;
  }
}
.card-wrap:nth-of-type(odd) {
  @include desktop {
    grid-column: 2/6;
  }
}
.card-wrap:nth-of-type(even) {
  @include desktop {
    grid-column: 8/12;
  }
}

.card-wrap:nth-of-type(3),
.card-wrap:nth-of-type(4) {
  @include desktop {
    margin-top: desktop-vw(120px);
  }
}

.doodle-cont {
  aspect-ratio: 736/229.625;
  position: absolute;
  margin-top: mobile-vw(-15px);
  height: auto;
  width: mobile-vw(300px);

  @include mobile {
    margin-left: mobile-vw(16px);
  }
  @include desktop {
    margin-top: desktop-vw(-45px);
    width: desktop-vw(810px);
  }
}
