@use 'sass:color';

$colors: (
  'primary': #e05333,
  'secondary': #000,
  'tertiary': #fff,
  'ghost': transparent,
  'disabled': #a0aec0,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: #{$color};
  }
  .clr-#{$name} {
    color: #{$color};
  }
}

:root {

}
