@use 'sass:map';

$grid-base: 8px;
$spacer-multipliers: (
  xl: (
    24,
    10,
  ),
  lg: (
    16,
    8,
  ),
  md: (
    10,
    6,
  ),
  sm: (
    8,
    4,
  ),
  xs: (
    6,
    4,
  ),
);

// internal process, do not touch
:root {
  @each $name, $value in $spacer-multipliers {
    --spacer-#{$name}: #{mobile-vw(
        (nth(map.get($spacer-multipliers, $name), 2) * $grid-base)
      )};
  }
  @include desktop {
    @each $name, $value in $spacer-multipliers {
      --spacer-#{$name}: #{desktop-vw(
          (nth(map.get($spacer-multipliers, $name), 1) * $grid-base)
        )};
    }
  }
}

// $spacing: (
//   '0': 4px,
//   '1': 8px,
//   '2': 16px,
//   '3': 24px,
//   '4': 32px,
//   '5': 40px,
//   '6': 48px,
//   '7': 64px,
//   '8': 72px,
//   '9': 88px,
//   '10': 96px,
//   '11': 120px,
//   '12': 128px,
//   '13': 140px,
//   '14': 180px,
//   '15': 188px,
// );

// .mx-auto {
//   margin-inline: auto;
// }
// .px-auto {
//   padding-inline: auto;
// }

// .m-center {
//   margin-inline: auto;
// }
// .mt-6 {
//   margin-top: mobile-vw(map-get($spacing, '6'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '6'));
//   }
// }

// .mt-3 {
//   margin-top: mobile-vw(map-get($spacing, '3'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '3'));
//   }
// }

// .mb-1 {
//   margin-bottom: mobile-vw(map-get($spacing, '1'));

//   @include desktop {
//     margin-bottom: desktop-vw(map-get($spacing, '1'));
//   }
// }

// .mt-2-4 {
//   margin-top: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '4'));
//   }
// }
// .mt-4-5 {
//   margin-top: mobile-vw(map-get($spacing, '4'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '5'));
//   }
// }

// .mt-6-7 {
//   margin-top: mobile-vw(map-get($spacing, '6'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '7'));
//   }
// }

// .mt-2-3 {
//   margin-top: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '3'));
//   }
// }

// .mt-1 {
//   margin-top: mobile-vw(map-get($spacing, '1'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '1'));
//   }
// }
// .mt-0 {
//   margin-top: mobile-vw(map-get($spacing, '0'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '0'));
//   }
// }

// .mt-3 {
//   margin-top: mobile-vw(map-get($spacing, '3'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '3'));
//   }
// }

// .mtb-1 {
//   writing-mode: horizontal-tb;
//   margin-block: mobile-vw(map-get($spacing, '1'));

//   @include desktop {
//     margin-block: desktop-vw(map-get($spacing, '1'));
//   }
// }
// .mtb-3 {
//   writing-mode: horizontal-tb;
//   margin-block: mobile-vw(map-get($spacing, '3'));

//   @include desktop {
//     margin-block: desktop-vw(map-get($spacing, '3'));
//   }
// }

// .mtb-1-2 {
//   writing-mode: horizontal-tb;
//   margin-block: mobile-vw(map-get($spacing, '1'));

//   @include desktop {
//     margin-block: desktop-vw(map-get($spacing, '2'));
//   }
// }

// .mt-6-10 {
//   margin-top: mobile-vw(map-get($spacing, '6'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '10'));
//   }
// }

// .mt-1-2 {
//   margin-top: mobile-vw(map-get($spacing, '1'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '2'));
//   }
// }

// .ptb-1 {
//   writing-mode: horizontal-tb;
//   padding-block: mobile-vw(map-get($spacing, '1'));

//   @include desktop {
//     padding-block: desktop-vw(map-get($spacing, '1'));
//   }
// }

// .ptb-2 {
//   writing-mode: horizontal-tb;
//   padding-block: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     padding-block: desktop-vw(map-get($spacing, '2'));
//   }
// }
// .p-1 {
//   padding: mobile-vw(map-get($spacing, '1'));

//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '1'));
//   }
// }

// .mb-2 {
//   margin-bottom: mobile-vw(16px);

//   @include desktop {
//     margin-bottom: desktop-vw(16px);
//   }
// }

// .mb-1 {
//   margin-bottom: mobile-vw(map-get($spacing, '1'));

//   @include desktop {
//     margin-bottom: desktop-vw(map-get($spacing, '1'));
//   }
// }

// .mt-2 {
//   margin-top: mobile-vw(16px);

//   @include desktop {
//     margin-top: desktop-vw(16px);
//   }
// }

// .p-2 {
//   padding: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '2'));
//   }
// }

// .mtb-2 {
//   writing-mode: horizontal-tb;
//   margin-block: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     margin-block: desktop-vw(map-get($spacing, '2'));
//   }
// }

// .mt-2-3 {
//   margin-top: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '3'));
//   }
// }
// .p-2-3 {
//   padding: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '3'));
//   }
// }
// .pb-2 {
//   padding-bottom: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     padding-bottom: desktop-vw(map-get($spacing, '2'));
//   }
// }

// .ptb-2-3 {
//   writing-mode: horizontal-tb;
//   padding-block: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     padding-block: desktop-vw(map-get($spacing, '3'));
//   }
// }
// .px-2-3 {
//   padding-inline: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     padding-inline: desktop-vw(map-get($spacing, '3'));
//   }
// }

// .mx-2-3 {
//   margin-inline: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     margin-inline: desktop-vw(map-get($spacing, '3'));
//   }
// }

// .mb-2-3 {
//   margin-bottom: mobile-vw(map-get($spacing, '2'));

//   @include desktop {
//     margin-bottom: desktop-vw(map-get($spacing, '3'));
//   }
// }

// .mt-3-12 {
//   margin-top: mobile-vw(map-get($spacing, '3'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '12'));
//   }
// }
// .pt-3-12 {
//   padding-top: mobile-vw(map-get($spacing, '3'));

//   @include desktop {
//     padding-top: desktop-vw(map-get($spacing, '12'));
//   }
// }

// .px-3-12 {
//   padding-inline: mobile-vw(map-get($spacing, '3'));

//   @include desktop {
//     padding-inline: desktop-vw(map-get($spacing, '12'));
//   }
// }

// .my-2-3 {
//   margin: mobile-vw(map-get($spacing, '2')) 0;

//   @include desktop {
//     margin: desktop-vw(map-get($spacing, '3')) 0;
//   }
// }

// .mt-3-6 {
//   margin-top: mobile-vw(map-get($spacing, '3'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '6'));
//   }
// }

// .p-3-7 {
//   padding: mobile-vw(map-get($spacing, '3'));
//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '7'));
//   }
// }

// .px-3-7 {
//   padding-inline: mobile-vw(map-get($spacing, '3'));
//   @include desktop {
//     padding-inline: desktop-vw(map-get($spacing, '7'));
//   }
// }

// .p-3-6 {
//   padding: mobile-vw(map-get($spacing, '3'));
//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '6'));
//   }
// }

// .ptb-3-6 {
//   padding: mobile-vw(map-get($spacing, '3'));
//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '6'));
//   }
// }

// .mb-6-10 {
//   margin-bottom: mobile-vw(map-get($spacing, '6'));

//   @include desktop {
//     margin-bottom: desktop-vw(map-get($spacing, '10'));
//   }
// }
// .mb-6 {
//   margin-bottom: mobile-vw(map-get($spacing, '6'));

//   @include desktop {
//     margin-bottom: desktop-vw(map-get($spacing, '6'));
//   }
// }

// .mt-4 {
//   margin-top: mobile-vw(map-get($spacing, '4'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '4'));
//   }
// }

// .mt-6 {
//   margin-top: mobile-vw(map-get($spacing, '6'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '6'));
//   }
// }

// .mt-7 {
//   margin-top: mobile-vw(map-get($spacing, '7'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '7'));
//   }
// }

// .ptb-6 {
//   writing-mode: horizontal-tb;
//   padding-block: mobile-vw(map-get($spacing, '6'));

//   @include desktop {
//     padding-block: desktop-vw(map-get($spacing, '6'));
//   }
// }

// .ptb-7-10 {
//   writing-mode: horizontal-tb;
//   padding-block: mobile-vw(map-get($spacing, '7'));

//   @include desktop {
//     padding-block: desktop-vw(map-get($spacing, '10'));
//   }
// }

// .mtb-7-10 {
//   writing-mode: horizontal-tb;
//   margin-block: mobile-vw(map-get($spacing, '7'));

//   @include desktop {
//     margin-block: desktop-vw(map-get($spacing, '10'));
//   }
// }

// .ptb-7-12 {
//   writing-mode: horizontal-tb;
//   padding-block: mobile-vw(map-get($spacing, '7'));

//   @include desktop {
//     padding-block: desktop-vw(map-get($spacing, '12'));
//   }
// }

// .p-6 {
//   padding: mobile-vw(map-get($spacing, '6'));

//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '6'));
//   }
// }
// .p-7 {
//   padding: mobile-vw(map-get($spacing, '7'));

//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '7'));
//   }
// }

// .mt-7-12 {
//   margin-top: mobile-vw(map-get($spacing, '7'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '12'));
//   }
// }

// .mt-10 {
//   margin-top: mobile-vw(map-get($spacing, '10'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '10'));
//   }
// }

// .mb-10 {
//   margin-bottom: mobile-vw(map-get($spacing, '10'));

//   @include desktop {
//     margin-bottom: desktop-vw(map-get($spacing, '10'));
//   }
// }

// .mb-10-12 {
//   margin-bottom: mobile-vw(map-get($spacing, '10'));

//   @include desktop {
//     margin-bottom: desktop-vw(map-get($spacing, '12'));
//   }
// }

// .mtb-10 {
//   writing-mode: horizontal-tb;
//   margin-block: mobile-vw(map-get($spacing, '10'));

//   @include desktop {
//     margin-block: desktop-vw(map-get($spacing, '10'));
//   }
// }

// .pt-10 {
//   padding-top: mobile-vw(map-get($spacing, '10'));

//   @include desktop {
//     padding-top: desktop-vw(map-get($spacing, '10'));
//   }
// }

// .pb-10 {
//   padding-bottom: mobile-vw(map-get($spacing, '10'));

//   @include desktop {
//     padding-bottom: desktop-vw(map-get($spacing, '10'));
//   }
// }

// .py-10 {
//   padding: mobile-vw(map-get($spacing, '10')) 0;

//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '10')) 0;
//   }
// }

// .ptb-10 {
//   padding: mobile-vw(map-get($spacing, '10')) 0;

//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '10')) 0;
//   }
// }

// .pt-10-12 {
//   padding-top: mobile-vw(map-get($spacing, '10'));

//   @include desktop {
//     padding-top: desktop-vw(map-get($spacing, '12'));
//   }
// }

// .mt-10-12 {
//   margin-top: mobile-vw(map-get($spacing, '10'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '12'));
//   }
// }

// .ptb-10-12 {
//   padding: mobile-vw(map-get($spacing, '10')) 0;

//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '12')) 0;
//   }
// }

// .pt-12 {
//   padding-top: mobile-vw(map-get($spacing, '12'));

//   @include desktop {
//     padding-top: desktop-vw(map-get($spacing, '12'));
//   }
// }

// .ptb-12 {
//   padding: mobile-vw(map-get($spacing, '12')) 0;

//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '12')) 0;
//   }
// }

// .ptb-7-11 {
//   padding: mobile-vw(map-get($spacing, '7')) 0;

//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '11')) 0;
//   }
// }

// .mt-12 {
//   margin-top: mobile-vw(map-get($spacing, '12'));

//   @include desktop {
//     margin-top: desktop-vw(map-get($spacing, '12'));
//   }
// }

// .pt-7 {
//   padding-top: mobile-vw(32px);

//   @include desktop {
//     padding-top: desktop-vw(64px);
//   }
// }

// .pt-7 {
//   padding-top: mobile-vw(32px);

//   @include desktop {
//     padding-top: desktop-vw(64px);
//   }
// }
// .pb-7 {
//   padding-bottom: mobile-vw(32px);

//   @include desktop {
//     padding-bottom: desktop-vw(64px);
//   }
// }

$spaces: (
  '0': 4,
  '1': 8,
  '2': 16,
  '3': 24,
  '4': 32,
  '5': 40,
  '6': 48,
  '7': 64,
  '8': 72,
  '9': 88,
  '10': 96,
  '11': 120,
  '12': 128,
  '13': 140,
  '14': 180,
  '15': 188,
);

.title-res {
  font-family: var(--body-font), sans-serif;
  font-size: calc(20 * (100vw / 1440));
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 133%;
}

$sizes: 25;

@mixin margin-classes {
  @for $i from 1 through $sizes {
    $margin: calc(($i * 8) * (100vw / 1440));
    @debug 'margin: #{$margin}';
    @include desktop {
      .lg-m-#{$i} {
        margin: $margin;
      }
      .lg-ml-#{$i} {
        margin-left: $margin;
      }
      .lg-mr-#{$i} {
        margin-right: $margin;
      }
      .lg-mt-#{$i} {
        margin-top: $margin;
      }
      .lg-mb-#{$i} {
        margin-bottom: $margin;
      }
      .lg-mx-#{$i} {
        margin-left: $margin;
        margin-right: $margin;
      }
      .lg-my-#{$i} {
        margin-top: $margin;
        margin-bottom: $margin;
      }
    }
  }
}

@mixin small-margin-classes {
  @for $i from 1 through $sizes {
    $margin: calc(($i * 8) * (100vw / 375));
    @debug 'margin: #{$margin}';
    @include mobile {
      .sm-m-#{$i} {
        margin: $margin;
      }
      .sm-ml-#{$i} {
        margin-left: $margin;
      }
      .sm-mr-#{$i} {
        margin-right: $margin;
      }
      .sm-mt-#{$i} {
        margin-top: $margin;
      }
      .sm-mb-#{$i} {
        margin-bottom: $margin;
      }
      .sm-mx-#{$i} {
        margin-left: $margin;
        margin-right: $margin;
      }
      .sm-my-#{$i} {
        margin-top: $margin;
        margin-bottom: $margin;
      }
    }
  }
}

@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: calc(($i * 8) * (100vw / 1440));
    @debug 'padding: #{$padding}';
    @include desktop {
      .lg-p-#{$i} {
        padding: $padding;
      }
      .lg-pl-#{$i} {
        padding-left: $padding;
      }
      .lg-pr-#{$i} {
        padding-right: $padding;
      }
      .lg-pt-#{$i} {
        padding-top: $padding;
      }
      .lg-pb-#{$i} {
        padding-bottom: $padding;
      }
      .lg-px-#{$i} {
        padding-left: $padding;
        padding-right: $padding;
      }
      .lg-py-#{$i} {
        padding-top: $padding;
        padding-bottom: $padding;
      }
    }
  }
}

@mixin small-padding-classes {
  @for $i from 1 through $sizes {
    $padding: calc(($i * 8) * (100vw / 375));
    @debug 'padding: #{$padding}';
    @include mobile {
      .sm-p-#{$i} {
        padding: $padding;
      }
      .sm-pl-#{$i} {
        padding-left: $padding;
      }
      .sm-pr-#{$i} {
        padding-right: $padding;
      }
      .sm-pt-#{$i} {
        padding-top: $padding;
      }
      .sm-pb-#{$i} {
        padding-bottom: $padding;
      }
      .sm-px-#{$i} {
        padding-left: $padding;
        padding-right: $padding;
      }
      .sm-py-#{$i} {
        padding-top: $padding;
        padding-bottom: $padding;
      }
    }
  }
}

// .outer-cont {
//   position: relative;
//   padding: mobile-vw(map-get($spacing, '7')) 0;
//   @include desktop {
//     padding: desktop-vw(map-get($spacing, '11')) 0
//       desktop-vw(map-get($spacing, '14'));
//   }
// }

$spacings: (4, 8, 16, 24, 32, 40, 48, 64, 72, 88, 96, 120, 128, 180, 188, auto);

$sides: (
  't': 'top',
  'b': 'bottom',
  'l': 'left',
  'r': 'right',
  '': (
    'top',
    'left',
    'bottom',
    'right',
  ),
  'x': (
    'left',
    'right',
  ),
  'y': (
    'top',
    'bottom',
  ),
);

$breakpoints: (
  'sm': 375,
  'lg': 1440,
);

@each $breakName, $breakValue in $breakpoints {
  @each $space in $spacings {
    @each $prefix, $positions in $sides {
      @if $breakName != '' {
        $prefix: #{$prefix}-#{$breakName};
      } @else {
        $prefix: #{$prefix};
      }

      @if $breakName == 'lg' {
        @include desktop {
          .p#{$prefix}-#{$space} {
            @each $pos in $positions {
              padding-#{$pos}: if(
                $space == auto,
                $space,
                calc(#{$space} * (100vw / #{$breakValue}))
              );
            }
          }
          .m#{$prefix}-#{$space} {
            @each $pos in $positions {
              margin-#{$pos}: if(
                $space == auto,
                $space,
                calc(#{$space} * (100vw / #{$breakValue}))
              );
            }
          }
        }
      } @else if $breakName == 'sm' {
        @include mobile {
          .p#{$prefix}-#{$space} {
            @each $pos in $positions {
              padding-#{$pos}: if(
                $space == auto,
                $space,
                calc(#{$space} * (100vw / #{$breakValue}))
              );
            }
          }
          .m#{$prefix}-#{$space} {
            @each $pos in $positions {
              margin-#{$pos}: if(
                $space == auto,
                $space,
                calc(#{$space} * (100vw / #{$breakValue}))
              );
            }
          }
        }
      }
    }
  }
}

.mt-nav-height {
  
}
@include margin-classes;
@include small-margin-classes;
@include padding-classes;
@include small-padding-classes;
